<p><%= _('More information on this project at') %> <a href="https://nach-vorne.de/trac/beagle_on_rails">BeagleOnRails</a>.</p>
<p>
	<%= _('GPLed by') %> <a href="http://www.schmidtwisser.de">schmidtwisser.de</a> &middot;
	<%= _('Results by') %> <a href="http://www.beaglewiki.org">Beagle</a> &middot;
	<%= _('Framework by') %> <a href="http://www.rubyonrails.org">RubyOnRails</a>
</p>
